@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url('/src/app/public/image/People.png');
  background-size: cover;
  background-position: center;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}
